* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 93%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;

  h1 {
    font-family: Heebo;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
  }

  span {
    cursor: pointer;
  }
}

.home {
  font-family: Poppins;
  font-style: normal;
  margin-top: 48px;

  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: repeat (auto, 1fr);
  justify-content: center;

  a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2d9cdb;

    grid-column: 2;
  }

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;

    grid-column: 2;
  }

  img {
    margin-top: 15px;
    width: 100%;
    border-radius: 15px;
    background-size: cover;

    grid-column: 1 / 4;
  }

  h2:nth-child(4) {
    margin-top: 22px;
    grid-column: 2;
    width: 80%;
  }

  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #4f4f4f;
    margin-top: 33px;

    grid-column: 2;
  }

  form {
    margin-top: 31px;
    grid-column: 2;

    label {
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      color: #828282;
    }

    .input {
      $inputHeight: 47px;
      $inputBG: #f2f2f2;
      display: flex;

      input {
        width: 70%;
        font-size: 14px;
        line-height: 21px;
        color: #bdbdbd;
        padding: 15px 19px;

        border-radius: 12px 0 0 12px;
        height: $inputHeight;
        background-color: $inputBG;
        border: 1px solid $inputBG;
      }

      .button {
        background-color: $inputBG;
        height: $inputHeight;
        display: flex;
        border-radius: 0 12px 12px 0;

        button {
          font-size: 14px;
          line-height: 39px;
          color: $inputBG;
          margin-right: 4px;
          margin-block: auto;

          background: #2d9cdb;
          border-radius: 12px;
          border: 1px solid #2d9cdb;
          height: 39px;
          width: 71px;
        }
      }
    }
  }
}

.service {
  font-family: Poppins;
  font-style: normal;

  margin-top: 106px;

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }

  .cards {
    margin-top: 92px;

    .card {
      box-sizing: border-box;

      font-family: Poppins;
      font-style: normal;

      background-color: #ffff;
      padding: 49px 34px;
      border-radius: 24px;

      span {
        color: #ffff;
        background-color: #2d9cdb;
        padding: 15px;
        border-radius: 12px;
        font-size: 30px;
      }

      h3 {
        margin-top: 35px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
      }

      p {
        margin-top: 24px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #4f4f4f;
      }

      button {
        cursor: pointer;
        margin-top: 30px;
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        padding: 9px 12px;
        border-radius: 12px;
        border: none;
        transition: 300ms ease-in-out;
      }

      button:hover {
        background-color: #2d9cdb;
        color: #ffff;
      }
    }
  }
}
