* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  width: 93%;
  margin: auto;
}

nav {
  padding: 7px 0;
  position: fixed;
  top: 0;
  width: 100%;
  transition: 300ms ease-in-out;

  .container {
    display: flex;
    justify-content: space-between;

    h1 {
      font-family: Heebo;
      font-style: normal;
      font-weight: 800;
      font-size: 24px;
      line-height: 35px;
      color: #333333;
    }

    span {
      line-height: 35px;
      cursor: pointer;
    }

    ul {
      display: none;
    }
  }
}

nav.scrolled {
  background-color: #100e1d;

  .container {
    h1,
    span {
      color: #ffff;
    }
  }
}

.home {
  font-family: Poppins;
  font-style: normal;
  margin-top: 96px;

  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: repeat (auto, 1fr);
  justify-content: center;

  a {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2d9cdb;

    grid-column: 2;
  }

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;

    grid-column: 2;
  }

  img {
    margin-top: 15px;
    width: 100%;
    border-radius: 15px;
    background-size: cover;

    grid-column: 1 / 4;
  }

  h2:nth-child(4) {
    margin-top: 22px;
    grid-column: 2;
    width: 80%;
  }

  p {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #4f4f4f;
    margin-top: 33px;

    grid-column: 2;
  }

  form {
    margin-top: 31px;
    grid-column: 2;

    label {
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      color: #828282;
    }

    .input {
      $inputHeight: 47px;
      $inputBG: #f2f2f2;
      display: flex;

      input {
        width: 70%;
        font-size: 14px;
        line-height: 21px;
        color: #bdbdbd;
        padding: 15px 19px;

        border-radius: 12px 0 0 12px;
        height: $inputHeight;
        background-color: $inputBG;
        border: 1px solid $inputBG;
      }

      .button {
        background-color: $inputBG;
        height: $inputHeight;
        display: flex;
        border-radius: 0 12px 12px 0;

        button {
          cursor: pointer;
          font-size: 14px;
          line-height: 39px;
          color: $inputBG;
          margin-right: 4px;
          margin-block: auto;

          background: #2d9cdb;
          border-radius: 12px;
          border: 1px solid #2d9cdb;
          height: 39px;
          width: 71px;
        }
      }
    }
  }
}

.service {
  font-family: Poppins;
  font-style: normal;

  margin-top: 106px;

  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
    width: 75%;
    margin: auto;
  }

  .cards {
    margin-top: 92px;

    .card {
      box-sizing: border-box;

      font-family: Poppins;
      font-style: normal;

      background-color: #ffff;
      padding: 49px 34px;
      border-radius: 24px;

      span {
        color: #ffff;
        padding: 15px;
        border-radius: 12px;
        font-size: 30px;
      }

      span.create {
        background-color: #2d9cdb;
      }

      span.code {
        background-color: #27ae60;
      }

      span.storage {
        background-color: #eb5757;
      }

      h3 {
        margin-top: 35px;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #333333;
      }

      p {
        margin-top: 24px;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #4f4f4f;
      }

      button {
        cursor: pointer;
        margin-top: 30px;
        font-size: 16px;
        line-height: 24px;
        color: #828282;
        padding: 9px 12px;
        border-radius: 12px;
        border: none;
        transition: 300ms ease-in-out;
      }

      button:hover {
        background-color: #2d9cdb;
        color: #ffff;
      }
    }
  }
}

.our-works {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: Poppins;
  font-style: normal;

  h2 {
    margin: auto;
    width: 80%;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }

  .products {
    margin-top: 48px;

    .product {
      margin-bottom: 36px;

      img {
        width: 100%;
        border-radius: 24px;
      }

      p {
        margin-top: 12px;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: #828282;
      }

      h3 {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #333333;
      }
    }
  }

  a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #2d9cdb;
    text-decoration: none;

    span {
      vertical-align: middle;
      margin-right: 12px;
    }
  }
}

.team {
  font-family: Poppins;
  font-style: normal;
  a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #eb5757;
  }

  h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    color: #333333;
    width: 80%;
  }

  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4f4f4f;
    width: 80%;
  }

  .pict {
    margin-top: 36px;
    display: grid;
    grid-gap: 9px;
    grid-template-columns: repeat (2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;

    img {
      width: 100%;
      border-radius: 24px;
    }

    img:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / -1;
    }
    img:nth-child(2),
    img:nth-child(3) {
      grid-column: 2;
    }

    img:nth-child(2) {
      grid-row: 1;
    }

    img:nth-child(3) {
      grid-row: 2;
    }
  }
}

.clients {
  margin-bottom: 100px;
  margin-top: 100.3px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;

  q {
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }

  .client {
    margin-top: 31px;
    display: grid;
    grid-template-columns: 3.3fr 9fr;
    grid-template-rows: repeat (2, 1fr);
    column-gap: 30px;
    row-gap: 12px;

    align-items: center;

    img {
      width: 100%;
      background: #c4c4c4;
      border-radius: 12px;

      grid-column: 1;
      grid-row: 1 / 3;
    }

    h3 {
      font-size: 24px;
      line-height: 36px;
      color: #333333;

      grid-column: 2;
      grid-row: 1;
    }

    p {
      font-size: 18px;
      line-height: 27px;
      color: #828282;

      grid-column: 2;
      grid-row: 2;
    }
  }
}

.contact {
  background-color: #100e1d;
  color: #ffff;
  font-family: Poppins;
  font-style: normal;
  padding: 36px 41px;

  ul {
    list-style: none;
    margin-bottom: 64px;
    li {
      a {
        text-decoration: none;
        color: #ffff;
        font-weight: normal;
        font-size: 18px;
        line-height: 200%;
      }
    }
  }

  .soc-med {
    margin-bottom: 64px;
    h3 {
      margin-bottom: 8px;
      font-family: Heebo;
      font-weight: 800;
      font-size: 36px;
      line-height: 53px;
      color: #f2f2f2;
    }

    img {
      margin-right: 11px;
    }
  }

  form {
    $inputHeight: 47px;

    label {
      font-weight: 500;
      font-size: 10px;
      line-height: 15px;
      color: #828282;
    }

    .input {
      display: flex;
      input {
        color: #bdbdbd;
        background: #f2f2f2;
        border-radius: 12px 0 0 12px;
        border: none;
        height: $inputHeight;
        padding-left: 19px;
        // margin: 0;
      }

      .button {
        height: $inputHeight;
        background-color: #f2f2f2;
        align-items: center;
        display: flex;
        padding-right: 4px;
        border: none;
        border-radius: 0 12px 12px 0;
        padding-block: 4px;

        button {
          color: #ffff;
          background-color: #2d9cdb;
          border-radius: 12px;
          border: none;
          padding: 12px 20px;
          cursor: pointer;
        }
      }
    }
  }
}

.footer {
  background-color: #100e1d;
  padding-top: 133px;
  padding-bottom: 45px;
  p {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #a9a9a9;
  }
}

.nav-menu {
  background-color: #100e1d;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0px;

  span {
    color: #fff;
    font-size: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      margin-bottom: 30px;
      a {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 200%;
        color: #ffff;
        text-decoration: none;
      }
    }
  }
}

.nav-menu.display-none {
  display: none;
}

// for Tablet version
@media only screen and (min-width: 600px) {
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 93%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 80% 1fr;
    grid-template-rows: repeat (auto, 1fr);
  }

  nav {
    padding: 42px;

    .container {
      h1 {
        font-size: 36px;
      }
      span {
        display: none;
      }

      ul {
        list-style: none;
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;

        font-family: Poppins;
        font-style: normal;
        font-weight: 500;

        li {
          a {
            font-size: 24px;
            line-height: 36px;
            color: #333333;
            text-decoration: none;
          }
        }
      }
    }
  }

  nav.scrolled {
    padding: 18px;
    .container {
      ul {
        li {
          a {
            color: #ffff;
          }
        }
      }
    }
  }

  .home {
    grid-column: 1 / 4;
    margin-top: 191px;
    grid-template-columns: 1fr 40% 40% 1fr;

    a {
      font-size: 18px;
      line-height: 27px;
    }

    h2 {
      font-size: 48px;
      line-height: 72px;
    }

    img {
      margin-top: 42px;
      grid-column: 1 / 5;
    }

    h2:nth-child(4) {
      // color: red;
      margin-top: 42px;
    }

    p {
      margin-top: 42px;
      font-size: 18px;
      line-height: 27px;
      width: 70%;
    }

    form {
      label {
        font-size: 14px;
        line-height: 21px;
      }

      .input {
        margin-top: 9px;
        input {
          font-size: 18px;
          line-height: 27px;
          height: 57px;
          width: 50%;
        }

        .button {
          height: 57px;
          button {
            width: 94px;
            height: 49px;
            font-size: 18px;
            line-height: 27px;
          }
        }
      }
    }
  }

  .service {
    grid-column: 2 / 3;

    h2 {
      width: 25%;
      margin: 0 auto 0 0;
    }
  }

  .our-works {
    grid-column: 2 / 3;
  }

  .team {
    grid-column: 2 / 3;
  }

  .clients {
    grid-column: 2 / 3;
  }
}
